<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <ul>
  <li>Name: Doan Viet Tung</li>
  <li>Company: Framgia Vietnam Co., Ltd</li>
  <li>Address: 9th Floor, Viet A Building, Duy Tan Street, Cau Giay District, Hanoi, Vietnam</li>
  </ul>
</p>