<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Name: Doan Viet Tung
  Company: Framgia Vietnam Co., Ltd
  Address: 9th Floor, Viet A Building, Duy Tan Street, Cau Giay District, Hanoi, Vietnam
</p>