<% if signed_in? %>
<% if current_user.following?(current_entry.user) || current_user?(current_entry.user)%>
<%= form_for(@comment) do |f| %>
  <h2>New Comment</h2>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "New comment..." %>
  </div>
  <%= f.submit "Comment", class: "btn btn-large btn-primary" %>
  <% end %>
<% end %>
<% end %>
